@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  @apply font-poppins
}

p, input, Link, button, label{
  @apply text-[14px] placeholder:text-[14px] outline-none placeholder:text-[#D1D1D1] font-normal
}
